<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME PAGE</title>
    <link rel="stylesheet" href="/home.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/" class="nav-link">Home</a></li>
        <li><a href="/user/register" class="nav-link">Signup</a></li>
        <li><a href="/user/login" class="nav-link">Login</a></li>
      </ul>
    </nav>
    

    <div class="Main"> 
      <section>
        <img src="<%= img %>" alt="User Image" />
        <h1><%= username %></h1>
        <h1><%= email %></h1>
      </section>
    </div> 
  </body>
</html>